@tailwind base;
@tailwind components;
@tailwind utilities;

/*         CSS VARIABLES       */
/* =========================== */
:root {
    /* Colors */
    --color-primary: #C7A78A;
    --color-secondary: #927C69;
    --color-secondary-2: #85715f;
    --color-hover: #d8b393;
    --color-background: #191614;
    --color-dark-hover: #25201d;
    --color-light-text: #FFFFFF;
    --color-dark-text: #191614;
    --color-ui-blocks: #100F0E;
    --color-taupe-dark: #4B453E;

    /* Header Heights */
    --height-header: 160px;
    --height-xs-header: 110px;
}

/*         TYPOGRAPHY          */
/* =========================== */
.font-lato, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-lato), sans-serif;
}

body {
    font-family: var(--font-maven-pro), sans-serif;
}

/*         LAYOUT CLASSES      */
/* =========================== */
.header {
    @apply md:h-header h-xs-header;
}

.hero {
    @apply h-auto max-h-[668px] md:min-h-[695px] md:max-h-[695px];
}

.main-container {
    @apply max-w-[1440px] mx-auto px-5 2xs:px-10 lg:px-[60px];
}

/*      SCROLLBAR STYLING      */
/* =========================== */
@layer utilities {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: var(--color-ui-blocks);
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-secondary);
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--color-primary);
    }

    /* Firefox scrollbar */
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--color-secondary) var(--color-ui-blocks);
    }
}

/*         COMPONENTS           */
/* =========================== */
@layer components {
    .base-field-styles {
        @apply w-full rounded-full border-2 border-light-text bg-transparent pb-3.5 pl-10 pt-6 text-start text-light-text;
    }

    .base-field-styles::placeholder {
        @apply text-light-text opacity-50;
    }

    .base-field-styles:focus {
        @apply outline-none ring-2 ring-hover;
    }

    .base-field-styles:enabled:hover {
        @apply ring-2 ring-hover;
    }

    .base-field-styles:disabled {
        @apply cursor-not-allowed border-gray-500/50 bg-gray-500/50 text-gray-500;
    }

    .base-field-error-styles {
        @apply border-red-500;
    }
}

@layer components {
    .btn-vertical-animated-bg {
        @apply relative overflow-hidden;
    }

    .btn-vertical-animated-bg::after {
        content: "";
        @apply rounded-b-full absolute bottom-0 left-0 w-full h-full bg-primary z-[-2];
    }

    .btn-vertical-animated-bg::before {
        content: "";
        @apply rounded-b-full absolute top-0 left-0 w-full h-0 bg-hover z-[-1] transition-all duration-300;
    }

    .btn-vertical-animated-bg:hover::before {
        @apply h-full;
    }
}

@layer components {
    .loader {
        @apply w-8 h-8 border-4 border-white border-b-transparent rounded-full inline-block box-border animate-spin;
    }
}
