@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-main: #C7A78A;
    --color-hover: #9A816B;
    --color-background: #191614;
    --color-text: #FFFFFF;
    --color-ui-blocks: #100F0E;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-lato), sans-serif;
}

body {
    font-family: var(--font-maven-pro), sans-serif;
}
