.react-datepicker-wrapper {
  @apply block;
}

.custom-popper {
  .react-datepicker__triangle {
    color: var(--color-background) !important;
    stroke: var(--color-background) !important;
    fill: var(--color-background) !important;
  }

  .custom-calendar {
    @apply bg-background border border-taupe-dark shadow-xl text-light-text;

    .react-datepicker {
      &__time-list {
        @apply bg-background;
      }

      &__header,
      &__day--keyboard-selected {
        @apply bg-taupe-dark;
      }

      &__current-month,
      &__day-name,
      &-time__header,
      &__time-list-item,
      &__time-list-item--selected,
      &__day,
      &__day--selected,
      &__day--keyboard-selected {
        @apply text-light-text;
      }

      &__day,
      &__time-list-item {
        @apply border-2 rounded-full border-transparent bg-transparent;
      }

      &__day {
        @apply box-content;
      }

      &__time-list-item:not(&__time-list-item--disabled):hover {
        @apply border-2 bg-transparent;
        border-color: var(--color-hover) !important;
      }

      &__time-list-item--selected,
      &__day--selected {
        background-color: var(--color-hover) !important;
      }

      &__day:not(&__day--disabled):hover, &__day--keyboard-selected {
        @apply border-hover;
      }

      &__day--selected,
      &__day--keyboard-selected {
        @apply rounded-full font-bold;
      }

      &__day--disabled:not(.fully-booked-day), &__time-list-item--disabled {
        @apply text-gray-500 !important;
      }

      &__day--today {
        @apply text-teal-400;
      }

      &__day.fully-booked-day {
        @apply text-red-400;
      }

      &__day.partially-booked-day {
        @apply text-amber-300;
      }

      &__time-list {
        @apply max-h-fit;
      }

      &__time-list-item.excluded-time {
        @apply hidden;
      }
    }
  }
}

